
<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

  </head>
  <body>
{% block content %}
  <table>
    <thead>
      <tr>
        <th>Tasks</th>
        <th>Start Time</th>  
        <th>Totall Time</th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      {% for report in reports %}
        <tr>
          <td>{{ report.task.name }}</td>
          <td>{% load tz %}{{ report.start_time|localtime|time }}</td>
          <td>{{ report.total_time }}</td>
          <!-- add delet clomn to this table that delete own row -->
          <td><a href="{% url 'delete_reprot' pk=report.pk %}">Delete</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <form method="post" action="{% url 'save_report' %}">
    {% csrf_token %}
    <select name="task" id="task-select" required>
      {% for task in tasks %}
        <option value="{{task}}">{{task}}</option>
      {% endfor %}
      <option value="add" >Add</option>
      <option value="delete">Delete</option> 
    </select>
    <!-- <input type="text" name="name" placeholder="Enter name" required> -->
    <input type="time" name="start_time" required>
    <!-- <input type="text" name="description" placeholder="Enter description" required> -->
    <input type="submit" value="Save">
  </form>
    <a href="{% url 'detail_view' timerange=today%}">to day</a>
  
{% endblock %}
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      document.getElementById("task-select").addEventListener("change", function() {
        var selectedOption = this.options[this.selectedIndex];
        if (selectedOption.value == 'add') {
          window.location.href = "{% url 'add_task'  %}";
        }
        else if(selectedOption.value == 'delete'){
          window.location.href = "{% url 'delete_task' %}";
        }
      });
    });
  </script>
  </body>
</html>