

{% block content %}
  <table>
    <thead>
      <tr>
        <th>Tasks</th>
        <th>Start Time</th>  
        <th>Totall Time</th>
      </tr>
    </thead>
    <tbody>
      {% for report in reports %}
        <tr>
          <td>{{ report.task.name }}</td>
          <td>{{ report.start_time.time }}</td>
          <td>{{ report.total_time }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <form method="post" action="{% url 'save_report' %}">
    {% csrf_token %}
    <select name="task" required>
      {% for task in tasks %}
        <option value="{{task}}">{{task}}</option>
      {% endfor %}
    </select>
    <!-- <input type="text" name="name" placeholder="Enter name" required> -->
    <input type="time" name="start_time" required>
    <!-- <input type="text" name="description" placeholder="Enter description" required> -->
    <input type="submit" value="Save">
  </form>
    <a href="{% url 'detail_view' timerange=today%}">to day</a>
  
{% endblock %}
